<!DOCTYPE html>
<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">

<script 
src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
</script>

<style>
.err{
	color: red;
}
</style>
<script src="js/fewg-app.js">
</script>

</head>
<body ng-app="FEWGApp">
	<div ng-controller="ClientCtrl as client">
		<div>{{client.status}}</div>
		<div>{{client.data}}</div>
		<div ng-show="client.status == 'connecting'">
			<input type="text" ng-model="client.server_addr"/>
			<input type="text" ng-model="client.server_port"/>
			<button ng-click="client.openConn()">Connect</button>
		</div>
		<div ng-show="client.status != 'connecting'">
			<input type="text" ng-model="client.input"/>
			<button ng-click="client.sendInput()">Send</button>
		</div>
		<div class="err">{{client.err_msg}}</div>
	</div>
</body>
</html>