<!DOCTYPE html>
<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">

<script 
src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
</script>

<style>
.err{
	color: red;
}
.server-message{
	color: black;
}
.chat{
	color: green;
}
.whisper{
	color: gray;
}
.well{
	background-color: #ddd;
	padding: 10px;
}
#clientlog{
	float: right;
	width: 50%;
}
</style>
<script src="js/fewg-app.js">
</script>

</head>
<body ng-app="FEWGApp">
	<div ng-controller="ClientCtrl as client">
		<div id="clientlog" class="well">
			<div>Status: {{client.status}}</div>
			<div class="well">
				<div>Log:</div>
				<div ng-repeat="logItem in client.clientlog" 
				ng-class="{err:logItem.type == 'err'}">
				{{logItem.msg}}</div>
			</div>
		</div>
		<div ng-show="client.status == 'Connecting'">
			<form ng-submit="client.openConn()">
				<input id="addrInput" type="text" ng-model="client.serverAddr"/>
				<input id="portInput" type="text" ng-model="client.serverPort"/>
				<input type="submit" value="Connect"/>
			</form>
		</div>
		<div ng-show="client.status == 'Logging in'">
			<form ng-submit="client.login()">
				<input id="usernameInput" type="text"
				ng-model="client.username"/>
				<input id="passwordInput" type="password"
				ng-model="client.password"/>
				<input type="submit" value="Login"/>
			</form>
			<br/>
			<button ng-click="client.sendMsg('disconnect')">Disconnect</button>
		</div>
		<div ng-show="client.status == 'In lobby'">
			<table><tr>
				<td ng-repeat="game in client.data.games">
					{{game.name}} <br/>
					Players: {{game.player_count}}/{{game.playerlimit}} <br/>
					<button ng-click="client.sendMsg('join game '+game.name)">
						Join</button>
				</td>
			</tr></table>
			<form ng-submit="client.createGame()">
				<p>Enter new game name:</p>
				<input id="createGameInput" type="text" 
				ng-model="client.createGameInput"/>
				<input type="submit" value="Create Game"/>
			</form>
			<br/>
			<button ng-click="client.sendMsg('logout')">Logout</button>
			<button ng-click="client.sendMsg('disconnect')">Disconnect</button>
		</div>
		<div ng-show="client.status == 'In game'">
			<table><tr>
				<td ng-repeat="player in client.data.gamedata.players">
					{{player.name}}<br/>
					HP: {{player.vars.health}}/{{player.stats.health}}<br/>
					DP: {{player.vars.defense}}<br/>
					DEF: {{player.stats.defense}}
					ATK: {{player.stats.attack}}<br/>
				</td>
			</tr></table>
			<br/>
			<button ng-click="client.sendMsg('quit game')">Quit Game</button>
			<button ng-click="client.sendMsg('logout')">Logout</button>
			<button ng-click="client.sendMsg('disconnect')">Disconnect</button>
		</div>
		<div ng-hide="client.status == 'Connecting' || client.status == 'Logging in'">
			<form ng-submit="client.sendMsg(client.cmdInput)">
				<input id="cmdInput" type="text" ng-model="client.cmdInput"
				autocomplete="off"/>
			</form>
		</div>
		<div>Data: {{client.data}}</div>
	</div>
</body>
</html>