<!DOCTYPE html>
<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">

<!--Include angularjs-->
<script 
src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
</script>
<!--Include jquery-->
<script
src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<!--Include bootstrap-->
<link rel="stylesheet" 
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

<style>
.login-form{
	padding-top: 5%;
	width: 50%;
}
.login-inputs{
	width: 50%;
	margin: 0 auto;
}
.err{
	color: red;
}
.log{
	color: black;
}
.chat{
	color: green;
}
.whisper{
	color: gray;
}

div.scroll{
	overflow: scroll;
	height: 75%;
}
#clientlog{
	float: right;
	width: 50%;
	height: 100vh;
}
</style>
<script src="js/fewg-app.js">
</script>

</head>
<body ng-app="FEWGApp">
	<div ng-controller="ClientCtrl as client">
		<div id="clientlog" class="well">
			Status: {{client.status}}<br/><hr/>
			<p>Log:</p>
			<div class="well scroll">
				<div ng-repeat="logItem in client.clientlog" 
				ng-class="{err:logItem.type == 'err'}">
				{{logItem.msg}}</div>
			</div>
		</div>
		<div ng-show="client.status == 'Connecting'"
		class="login-form">
			<div class="well login-inputs">
				<form ng-submit="client.openConn()"
				class="text-center">
					<input id="addrInput" type="text" 
					ng-model="client.serverAddr"/>
					<br/>
					<input id="portInput" type="text" 
					ng-model="client.serverPort"/>
					<br/>				
					<input type="submit" value="Connect"/>
				</form>
			</div>
		</div>
		<div ng-show="client.status == 'Logging in'"
		class="login-form">
			<div class="well login-inputs">
				<form ng-submit="client.login()"
				class="text-center">
					<input id="usernameInput" type="text"
					ng-model="client.username"/><br/>
					<input id="passwordInput" type="password"
					ng-model="client.password"/><br/>
					<input type="submit" value="Login"/>
				</form>
				<br/>
				<button ng-click="client.sendMsg('disconnect')">
				Disconnect</button>
			</div>
		</div>
		<div ng-show="client.status == 'In lobby'">
			<table><tr>
				<td ng-repeat="game in client.data.games">
					<div class="jumbotron well text-center">
						<p>{{game.name}}</p>
						Players: {{game.player_count}}/{{game.playerlimit}} <br/>
						<button ng-click="client.sendMsg('join game '+game.name)">
						Join</button>
					</div>
				</td>
			</tr></table>
			<form ng-submit="client.createGame()">
				<p>Enter new game name:</p>
				<input id="createGameInput" type="text" 
				ng-model="client.createGameInput"/>
				<input type="submit" value="Create Game"/>
			</form>
			<br/>
			<button ng-click="client.sendMsg('logout')">Logout</button>
			<button ng-click="client.sendMsg('disconnect')">Disconnect</button>
		</div>
		<div ng-show="client.status == 'In game'">
			<table><tr>
				<td ng-repeat="player in client.data.gamedata.players">
					<div class="jumbotron well text-center">
					<p>{{player.name}}</p>
					HP: {{player.vars.health}}/{{player.stats.health}}<br/>
					DP: {{player.vars.defense}}<br/>
					DEF: {{player.stats.defense}}
					ATK: {{player.stats.attack}}<br/>
					</div>
				</td>
			</tr></table>
			<br/>
			<button ng-click="client.sendMsg('quit game')">Quit Game</button>
			<button ng-click="client.sendMsg('logout')">Logout</button>
			<button ng-click="client.sendMsg('disconnect')">Disconnect</button>
		</div>
		<div ng-hide="client.status == 'Connecting' || client.status == 'Logging in'">
			<form ng-submit="client.sendMsg(client.cmdInput)">
				<input id="cmdInput" type="text" ng-model="client.cmdInput"
				autocomplete="off"/>
			</form>
			<div ng-show="client.status == 'In lobby'" class="well">
				<p>Commands:</p>
				<code>create game [game name]</code>
				- create game with specified name and attributes<br/>
				<code>join game [game name]</code>
				- join the specified game<br/>
				<code>logout</code>
				- logout and go back to login screen<br/>
				<code>disconnect</code>
				- disconnect from the server<br/>
			</div>
			<div ng-show="client.status == 'In game'" class="well">
				<p>Commands:</p>
				<code>attack [target player name]</code>
				- attack the specified target player<br/>
				<code>defend [target player name]</code>
				- add to defense buffer<br/>
				<code>quit game</code> - quit the game<br/>
				<code>logout</code>
				- logout and go back to login screen<br/>
				<code>disconnect</code>
				- disconnect from the server<br/>
			</div>
		</div>
		<!--p>Data: {{client.data}}</p-->
	</div>
</body>
</html>